{% extends 'BlogBundle:Frontend/Layout:base.html.twig' %}

{% set currentPath = app.request.attributes.get('_route') %}

{% block favicon %}
  {{ parent() }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <div class="wrap wrap--app {% block wrapclass %}{% endblock wrapclass %}">
    {% block header %}
      {{ parent() }}
      
      {% include 'BlogBundle:Frontend/Layout:header.html.twig' %}
    {% endblock header %}

    {% block content %}

    {% endblock %}
    <div id="push" class="hidden-xs"></div>
  </div>

  {% block footer %}
    <div class="footer text--mini app-grey">
      {% block foot %}
        {% include('BlogBundle:Frontend/Layout:_footer.html.twig') %}
      {% endblock foot %}
     </div>
  {% endblock footer %}

{% endblock %} {# endblock body #}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
