{% set break = false%}
{% for item in pagination if not break %}
    <div style="width:100%; height: 180px; border:solid #0b4242; margin: padding: 0 0 0 0;">
        <a class="black" href="{{ path('ed_frontend_blog_single_article', { 'slug': item.slug }) }}">
            <div class="col-md-12" style="width:100%; height: 20px; padding: 0 0 0 0;  margin : 5px 0 0 0;">
                <h1 style=" text-align:center;color:black;">{{ item.title|capitalize }}</h1>
            </div>
            <div class="col-md-12"; style="width:100%;height: 150px !important; padding: 0 0 0 0;  margin : 0 0 0 0;">
                <img style="width:100%; height:100%;" class="" src="{% path item.excerptPhoto, 'big' %}">
            </div>    
        </a>
    </div>
    {% if loop.index == 3 %}
        {% set break = true %}
    {% endif %}
{% endfor %}
