<!-- Indicators -->
<div class="carousel-inner " role="listbox" style="position:relative;">
  {% for post in posts %}
    {% set commentsCnt = commentsCount(post) %}
    {% if loop.index == 1 %}
      <div class="item active col-md-12">
    {% else %}
        <div class="item col-md-12">
    {% endif %}
          
          {% media post.excerptPhoto, 'big' with {'class': 'img--auto d--b img-responsive', 'style':'height:450px;width:100% !important;'}  %}
          
          <div class="carousel-caption" style="background: rgba(255,255,255,.7); position:fixed; left:0%; right:0%; bottom:0%;">
          	 <h1 style="text-align:center; font-size:1.5em !important;">{{post.title|capitalize  }}</h1>
          </div>
            
           
        </div>
  {% endfor %}
</div>


