{% extends 'BlogBundle:Frontend/Layout:main.html.twig' %}

{% block content %}
	<div class=" margin--t container-fluid">
		<div class="row">
		
			<div class="col-md-9">
				{% block main %}
                    {% block carousel %}
						<div class="carousel slide" data-ride="carousel">
        	                {{ render(controller('BlogBundle:Frontend/Carousel:index')) }}
		                </div>
                    {% endblock carousel %}
                    {% block container %}
						{% include "BlogBundle:Frontend/Blog:indexAjax.html.twig" %}
                    {% endblock container %}
				{% endblock main %}
			</div>
		{% block sidebar %}
			<div class="col-md-3">
	            <div>
                	{% render(controller('BlogBundle:Frontend/Sidebar:blogList')) %}
	            </div>
			</div>
		{% endblock sidebar %}
		</div>
	</div>
{% endblock content %}

{% block foot %}
	
	<footer class="footer">
      <div class="container col-md-12" style="padding:0 0 0 0;">
        {{ render(controller('BlogBundle:Frontend/Navbar:footer')) }}
      	
		<div class="col-md-6  text--mini app-grey" style="float:right">
        	<a class="black" href="{{ path('ed_frontend_contact') }}">
			Nous contacter
			</a>
		</div>
      </div>
    </footer style="margin-bottom: 50px;">
{% endblock foot %}