{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
  {{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
      {% include "BlogBundle:Frontend/Blog:blogBreadcrumb.html.twig" %}
      <div class="col-md-9" style="margin-top:5px;">
          <div class="col-md-12" style="width:100%; padding: 0 0 0 0;  margin : 0 0 0 0;">
            {% media pilot.excerptPhoto, 'excerpt'  with {'class': 'centered img--auto d--b'} %}
            {% media pilot.countryPhoto, 'excerpt' with {'class': ' mz_sidebar_event_main col-md-6 nwLogo', 'style':'height:20px;'} %}
            <div class="nwTable col-md-6">
              <p>
                <h1>
                  {{pilot|capitalize }}
                </h1>
                <h1>
                  {{pilot.getTeam|capitalize }}
                </h1>
              </p>
            </div>
          </div>

        </div>
    {% endblock container %}
{% endblock main %}

